<div class="container">
  <div class="row">
    <% if @event %>
      <% if @event.is_current? %>
      <div id="current-event-info">
        <div class="col-md-12 page-header text-center">
          <h2><%= @event.title %></h2>
          <br>
          <div class="small text-center"><%= @event.subtitle %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="speakerinfo">
            <div class="col-md-12 text-center">
              <h3>
                by
                <%= @event.speaker_names %>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <div id="next-event-info">
        <div class="col-md-12 page-header text-center">
          <h2><%= @event.title %></h2>
          <br>
          <div class="small text-center"><%= @event.subtitle %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="speakerinfo">
            <div class="col-md-12 text-center">
              <h3>
                by
                <%= @event.speaker_names %>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dl>
            <div class="col-md-12 text-center">
              <dt>
                Next Event Starts:
              </dt>
              <dd><%= @event.start_time.strftime("%Y %B %e %H:%M") %></dd>
            </div>
          </dl>
        </div>
      </div>
      <div id="conference-tweets" class="row">
        <!-- Todo: Add tweet logic -->
      </div>
      <div id="conference-sponsors">
        <% if @conference.sponsors.any? %>
          <section id="sponsors">
            <%= render 'conference/sponsors' %>
          </section>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>