.container
  .row
    - if @event
<<<<<<< ours
      .row#event-info
        .col-md-12.page-header.text-center
          %h2= @event.title
          %br
          .small.text-center= @event.subtitle
        .row
          .speakerinfo.text-center
            .col-md-12.text-center
              %h3
                by
                = @event.speaker_names
||||||| base
      - if @event.current?
        #current-event-info
          .col-md-12.page-header.text-center
            %h2= @event.title
            %br
            .small.text-center= @event.subtitle
        .row
          .col-md-12
            .speakerinfo
              .col-md-12.text-center
                %h3
                  by
                  = @event.speaker_names
      - elsif
        - if !@event.next_event?
        #next-event-info
          .col-md-12.page-header.text-center
            %h2= @event.title
            %br
            .small.text-center= @event.subtitle
=======
      #event-info
>>>>>>> theirs
        .row
<<<<<<< ours
          .col-md-12.text-center
||||||| base
          .col-md-12
            .speakerinfo
              .col-md-12.text-center
                %h3
                  by
                  = @event.speaker_names
        .row
          .col-md-12
            %dl
              .col-md-12.text-center
                %dt
                  Next Event Starts:
                %dd= @event.start_time.strftime("%Y %B %e %H:%M")
        #conference-tweets.row
          / Todo: Add tweet logic
        #conference-sponsors
          - if @conference.sponsors.any?
            %section#sponsors
              = render 'conference/sponsors'
        = link_to 
      - else
        - if @event.canceled_event?
        #next-event-info
          .col-md-12.page-header.text-center
            %h2= @event.title
            %br
            .small.text-center= @event.subtitle
        .row
          .col-md-12
            .speakerinfo
              .col-md-12.text-center
                %h3
                  by
                  = @event.speaker_names
        .row
          .col-md-12
=======
          .col-md-12.page-header.text-center
            %h2= @event.title
            %br
            .small.text-center= @event.subtitle
        .row
          .speakerinfo.text-center
            .col-md-12.text-center
              %h3
                by
                = @event.speaker_names
        .row
          .col-md-12.text-center
>>>>>>> theirs
            %dl
<<<<<<< ours
            .col-md-12.text-center
            %dt
              Event Starts:
              %dd= @event.start_time.strftime("%Y %B %e %H:%M")
        - if @event.canceled?
          %h3#event-canceled
            (canceled)
||||||| base
              .col-md-12.text-center
                %dt
                  Next Event Starts:
                %dd= @event.start_time.strftime("%Y %B %e %H:%M")
=======
            .col-md-12.text-center
            %dt
              Event Starts:
              %dd= @event.start_time.strftime("%Y %B %e %H:%M")
        - if @event.canceled?
          %h3
            (canceled)
>>>>>>> theirs
        #conference-tweets.row
          / Todo: Add tweet logic
        #conference-sponsors
          - if @conference.sponsors.any?
            %section#sponsors
              = render 'conference/sponsors'
