<div id="container">
  <div class="row">
    <% if @event %>
      <% if @event.is_current? %>
        <div id="current-event-info">
          <h2><%= @event.title %></h2>
          <caption class="small"><%= @event.subtitle %></caption>
          <div class="row">
            <div id="speakerinfo">
              <%= @event.speaker_names %>
            </div> 
          </div>
        </div>
      <% else %>
        <div id="next-event-info">
          <h2><%= @event.title %></h2>
          <caption class="small"><%= @event.subtitle %></caption>
          <div class="row">
            <div id="speakerinfo">
              <%= @event.speaker_names %>
              <%= @event.start_time.strftime("%l:%M") %>
              <!-- Todo: Add tweet logic -->
              <%= render 'conference/sponsors' %>
            </div> 
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>